link(rel='stylesheet', href='/vendor/bootstrap.min.css')
include top
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : {}
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId
div.container
	form(method='post', action='/add_address2db', enctype='multipart/form-data')
		div.row
			div.span3
				#logo-container
		div.row
			#top-sperater
			div.span10
				h1 邮寄信息
			div.span2
				input.btn.btn-large.btn-warning(type='submit', value='保存地址', id="save_btn")
		hr
		div.row
			div.span10
				p 请您在这里认真填写您的邮寄信息，以保证能顺利寄到您手中。我们将不会将您的个人信息用于商业用途！
				h3 订单信息:
		div.row(style="background: url(img/write-address.png) no-repeat center;height:500px;")
			div.span10
					h1 收件人信息
					div(style="margin:25px 50px auto;width:400px;")
							input#pass-tf.input-xlarge(type='text', name='r_zip', id="r_zip", value='', placeholder='收件人邮编', style="margin:10px 70px auto;width:150px;")
							input#user-tf.input-xlarge.disabled(type='text', name='r_address', id="r_address", value='', placeholder='收件人地址', style="margin:10px 120px auto;width:250px;"))
							input#name-tf.input-xlarge(type='text', name='r_name', id="r_name", value='', placeholder= '收件人', style="margin:10px 200px auto;width:150px;")
							input#pass-tf.input-xlarge(type='text', name='r_phone', id="r_phone", value='', placeholder='收件人联系电话', style="margin:10px 200px auto;width:150px;")
							input(type='text', name='p_address', id="p_address", value='', placeholder= '寄件人地址', style="margin:10px 200px auto;width:250px;")
							input(type='text', name='p_name', id="p_name", value='', placeholder='寄件人', style="margin:10px 200px auto;width:150px;")
							//input(type='text', name='p_phone', id="p_phone", value='', placeholder='联系电话', style="margin:10px 200px auto;width:150px;")
						input#email-tf.input-xlarge(type='text', name='p_zip', id="p_zip", value='', placeholder= '寄件人邮编', style="margin:5px 400px auto;width:150px;")
					hr

					input(type="hidden",name="billid", id="billid", value='#{billid}')
					input(type="hidden",name="user", id="username", value='#{username}')
					input(type="hidden",name="imagepath", id="imagepath", value='#{imagepath}')
				// display form errors in a custom modal window //
			div.span4.offset2
				h3 其他信息:
include footer
script(src='/js/form-validators/accountValidator.js')
