div.container
	div.row
		div.span3
			h4 念恋卡站点
			li 网站宗旨
			li 网站由来
			li 隐私保护
		div.span3
			h4 购买流程
			li 选择贺卡
			li 制作图片
			li 生产
			li 快递配送
		div.span3
			h4 安全保障
			li 支付宝支付
			li 淘宝网站
		div.span3
			h4 关于我们
			li 开发人员
			li 合作伙伴
			li 开源项目
	div.row
		hr
		div.footer
			P ALL RIGHT RESERVED 2012-2014
			p Designd By Rocking
			p 滇ICP备09007725号
