div.container
	div.row
		div.span3
			h4 念恋卡站点
			li 网站宗旨
			li 网站由来
			li 隐私保护
		div.span3
			h4 购买流程
			li 选择贺卡
			li 制作图片
			li 快递配送
		div.span3
			h4 安全保障
			li 支付宝支付
			li 淘宝网站
		div.span3
			h4 版权申明
			li ALL RIGHT RESERVED 2013
			li Designd By Rocking
			li 滇ICP备09007725号
