link(rel='stylesheet', href='/vendor/bootstrap.min.css')
script(src='/vendor/jquery.min.js')
script(src='/js/bootstrap-carousel.js')
script(type='text/javascript')
	$(function () {
		var log = function(s){
		window.console && console.log(s)
		}
		$('.carousel').carousel(
			{
			interval: 6000
			})
	})
div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container-fluid
			ul#global-nav.nav.pull-left
				a(href='#').brand 念恋网
				li
					a.span1(href='#').brand 
				li
					a.span1(href='#').brand 保障
				li
					a.span1(href='#').brand 定制
				li
					a.span1(href='#').brand 品质
				li
					a.span1(href='#').brand 问答

			button#btn-logout.btn.btn-primary
				i.icon-lock.icon-white
				| 登录
div.container
	div.row(style="margin-top:40px;height:150px;")
		div.span3
			a(href="http://www.happyecard.com")
				img(src="img/logo.png", alt="have a nice day!",style="margin-left:20px;margin-top:20px;")
div.container
	div.row
		div.span8
			div#myCarousel.carousel.slide
				div.carousel-inner
					div.item.active
						img(src="img/love1.jpg", style="height:440px;")
					div.item
						img(src='img/love2.jpg', style="height:440px;")
					div.item
						img(src='img/love3.jpg', style="height:440px;")
		div.span4
			#login-container
				form( method="post")#login-form.well.span4
					h1 欢迎回来!
					p 使用您之前留下的帐号登录，可以查看您的制作过的贺卡！
					label 用户名/邮件地址 
					input(type="text", name="user", id='user-tf').span4.required
					label 密码
					input(type="password", name="pass", id='pass-tf').span4.required
					button(type="submit")#btn-login.btn.btn-success
						i.icon-lock.icon-white
						| 登录
					label#remember-me.checkbox 记住密码
						input(type="checkbox", checked='checked')
					div.clear-fix
					hr
					div.btm-links
						a(href='#')#忘记了密码？点击这里......
						a(href='/signup')#现在注册	

include footer
include modals/alert
include modals/lost-password
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/views/login.js')
script(src='/js/controllers/loginController.js')
script(src='/js/form-validators/loginValidator.js')
script(src='/js/form-validators/emailValidator.js')
