.modal-form-errors.modal.hide.fade
	div.modal-header
		button.close(data-dismiss='modal') x
		h3 出错啦!
	div.modal-body
		p.subheading 嗯...好像出了点问题.
		ul
	div.modal-footer
		button(data-dismiss="modal").btn.btn-warning OK
